.black-texture-background-free-icon3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 3151px;
  height: 2100px;
  object-fit: cover;
}
.chp-nh-sn1,
.thit-k-bo {
  position: absolute;
  top: 489px;
  left: 1222px;
  color: var(--color-white);
}
.chp-nh-sn1 {
  top: 664px;
}
.trang-1-child {
  position: absolute;
  top: 103px;
  left: 141px;
  border: 6px solid var(--color-black);
  box-sizing: border-box;
  width: 798px;
  height: 1116px;
}
.z4261867563299-31970919279fc37-icon {
  position: absolute;
  top: 147px;
  left: 188px;
  width: 798px;
  height: 1116px;
  object-fit: cover;
}
.k-nng {
  position: absolute;
  top: 38px;
  left: 1222px;
  font-size: var(--font-size-45xl);
  color: var(--color-white);
  display: inline-block;
  width: 263px;
  height: 93px;
}
.polygon-icon,
.trang-1-child1,
.trang-1-inner,
.trang-1-item {
  position: absolute;
  top: 151.02px;
  left: 1129px;
  width: 45px;
  height: 51.96px;
}
.polygon-icon,
.trang-1-child1,
.trang-1-inner {
  top: 326.02px;
}
.polygon-icon,
.trang-1-child1 {
  top: 501.02px;
}
.trang-1-child1 {
  top: 676.02px;
}
.thit-k-h,
.thit-k-poster1 {
  position: absolute;
  left: 1222px;
  color: var(--color-white);
  display: inline-block;
}
.thit-k-h {
  top: 139px;
  width: 595px;
  height: 107px;
}
.thit-k-poster1 {
  top: 314px;
  width: 583px;
}
.layer-1-icon1 {
  position: absolute;
  top: 661px;
  left: 1668px;
  width: 95px;
  height: 131px;
  overflow: hidden;
}
.gii-khuyn-khch,
.gii-thng-v {
  position: absolute;
  color: var(--color-white);
  display: inline-block;
}
.gii-thng-v {
  top: 38px;
  left: 2023px;
  font-size: var(--font-size-45xl);
  width: 879px;
  height: 201px;
}
.gii-khuyn-khch {
  top: 147px;
  left: 1997px;
  width: 715px;
  height: 153px;
}
.tham-gia-thit,
.tham-gia-thit1,
.tham-gia-thit2 {
  position: absolute;
  top: 322px;
  left: 1997px;
  color: var(--color-white);
}
.tham-gia-thit1,
.tham-gia-thit2 {
  top: 497px;
}
.tham-gia-thit2 {
  top: 672px;
  display: inline-block;
  width: 638px;
  height: 225px;
}
.hc-vn,
.lin-lc,
.phn-mm,
.s-thch {
  position: absolute;
  top: 1126px;
  left: 1144px;
  font-size: var(--font-size-45xl);
}
.hc-vn,
.phn-mm,
.s-thch {
  left: 2316px;
}
.phn-mm,
.s-thch {
  top: 1514px;
}
.phn-mm {
  top: 1509px;
  left: 1144px;
}
.hi {
  top: 1193px;
  font-size: var(--font-size-281xl);
}
.am-m-v,
.hi,
.hng-thnh {
  position: absolute;
  left: 141px;
}
.hng-thnh {
  top: 1564px;
  font-size: var(--font-size-45xl);
}
.am-m-v {
  top: 1665px;
  display: inline-block;
  width: 639px;
  height: 384px;
}
.image-1-icon4,
.image-2-icon3,
.image-4-icon {
  position: absolute;
  top: 1710px;
  left: 1103px;
  width: 193px;
  height: 120px;
  object-fit: cover;
}
.image-2-icon3,
.image-4-icon {
  top: 1653px;
  left: 1306px;
  width: 239px;
  height: 257px;
}
.image-4-icon {
  top: 1709px;
  left: 1585px;
  width: 115px;
  height: 122px;
}
.nhip-nh {
  margin: 0;
}
.nhip-nh-m-container {
  position: absolute;
  top: 1615px;
  left: 2316px;
  display: inline-block;
  width: 220px;
  height: 325px;
}
.image-5-icon,
.image-6-icon,
.image-7-icon {
  position: absolute;
  top: 1212px;
  left: 1067px;
  width: 60px;
  height: 77px;
  object-fit: cover;
}
.image-6-icon,
.image-7-icon {
  left: 1523px;
  width: 77px;
}
.image-7-icon {
  top: 1408px;
  left: 1067px;
  width: 69px;
  height: 69px;
}
.b-ha-duy,
.div10 {
  position: absolute;
  top: 1221px;
  left: 1174px;
}
.b-ha-duy {
  top: 1376px;
  display: inline-block;
  width: 344px;
  height: 134px;
}
.div11,
.lytony3101gmailcom {
  position: absolute;
  top: 1219px;
  left: 1648px;
}
.lytony3101gmailcom {
  top: 1418px;
  display: inline-block;
  width: 423px;
  height: 59px;
}
.i-hc-th,
.trng-thpt-trung {
  position: absolute;
  top: 1242px;
  left: 2316px;
}
.i-hc-th {
  top: 1339px;
}
.image-3-icon1,
.image-8-icon {
  position: absolute;
  top: 1716px;
  left: 1771px;
  width: 182px;
  height: 113px;
  object-fit: cover;
}
.image-8-icon {
  top: 1407px;
  left: 1521px;
  width: 79px;
  height: 79px;
}
.porfolio {
  position: absolute;
  top: 710px;
  left: 1097px;
  font-size: var(--font-size-281xl);
  color: var(--color-white);
}
.rectangle-div,
.trang-1-child2 {
  position: absolute;
  top: 1938px;
  left: 1318px;
  background-color: var(--color-gainsboro);
  width: 189px;
  height: 108px;
}
.trang-1-child2 {
  left: 1564px;
}
.div12,
.div13 {
  position: absolute;
  top: 1929px;
  left: 1377px;
  font-size: var(--font-size-77xl);
  font-family: var(--font-inter);
  color: var(--color-gray);
  display: inline-block;
  width: 69px;
  height: 127px;
  cursor: pointer;
}
.div13 {
  top: 1927px;
  left: 1631px;
  height: 126px;
}
.trang-1 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 2100px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-21xl);
  color: var(--color-black);
  font-family: var(--font-baloo);
}
